# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized:

Some of the popular languages that Data Scientists use are:
1. python
2. C++
3. JAVA

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. CKeras
3. SciPy

|Data Science Tools|
|---|
|R Studio's|
|Zeppelin Notebooks|
|Jupyter Notebooks|

In [4]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)

9

In [5]:
##This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [6]:
##This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

_Objectives:_
* How to make rows and columns
* how to convert numbers
* how to use arthims expressions

## Author
Taha